.banner {
    margin-top: 0;
    padding: 160px 0 100px 0;
    background-image: url('./../img/landingimg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

  }
  .items{
    position: relative;
    top: 30px;

  }
  .items h2 {
    color: white;
  }

  .items h6 {
    color: white;
  }


  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }

  button.joinnow{
    color: white;
    background-color: blue;
    border-radius: 5px;
    text-decoration: none;
    padding: 8px 10px;
    position: relative;
    left: 7px;
    top: -30px;
  }

  a.joinnow{
    text-decoration: none;
  }