.homepicture {
    margin-top: 0;
    padding: 280px 0 100px 0;
    background-image: url('./../img/homepicture.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}

.items {
    position: relative;
    top: 30px;

}

.items h2 {
    color: white;
    padding-left: 130px;
}

.items h6 {
    color: white;
    padding-left: 130px;
}

.search-btn {
    border-radius: 20px;
    margin-left: 10px;
}

.mycont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploreSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exploreSection>div {
    width: 75%;
}

.exploreSection h2 {
    font-size: 1.7rem;
    font-weight: 700;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.prj-item img {
    border-radius: 20px 20px 0 0;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.prj-item {
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.prj-desc {
    padding: 1rem;
}

.prj-desc h5 {
    font-size: 1.1rem;
    font-weight: 600;
}

.prj-desc p {
    opacity: 0.8;
    font-size: 0.7rem;
}

.progres span {
    color: #0518F8;
    font-size: 0.5rem;
    font-weight: 600;
}

.progres {
    display: flex;
    flex-direction: column;
    margin-block: -5px;
}

.p-bar {
    height: 5px;
    width: 100%;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.myBTN {
    border: 2px solid #5b5b5b;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 0.8rem;
    font-weight: 800;
    background-color: #fff;
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: #5b5b5b;
}

.myBTN:hover {
    background: #5b5b5b;
    color: white;
    transition: 0.5s ease-in;
}

.progres-bar {
    height: 5px;
    background-color: #0518F8;
    border-radius: 5px;
}

.btn-card {
    font-size: 0.8rem;
    padding: .5rem 2rem;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: #0518F8;
}

.py-2 {
    height: 40px;
    position: relative;
    top: 14px;
}