.investpicture {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./../img/invest.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.items {
  position: relative;
  top: 30px;
}

.items h2 {
  color: white;
  padding-left: 80px;
}

.items h6 {
  color: white;
  padding-left: 80px;
}

.investMine h5 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.investMine {
  width: 40%;
  margin-block: 1rem;
}

.invest-items {
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 2rem;
  gap: 2rem;
  padding: 1rem 3rem;
  text-align: justify;
}

.invest-items img {
  border-radius: 10px;
  height: 300px;
}

.btn-invest {
  border: 1px solid #01427b;
  background-color: #2e45c3;
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .investpicture {
    padding: 100px 0;
  }

  .items h2,
  .items h6 {
    padding-left: 30px;
  }

  .invest-items {
    margin-left: 10%;
    margin-right: 10%;
  }

  .invest-items img {
    width: 100%;
  }

  .invest-items button {
    margin-left: 0;
    margin-top: 10px;
  }
}