.navi {
    display: flex;
    justify-content: flex-end;
  }
  
  .navi-link:link,
  .navi-link:visited {
    color: black;
    text-decoration: none;
  }
  
  .buttons {
    margin-left: 1rem;
  }
  
  .button {
    margin-left: 1rem;
  }
  .navi {
    margin-right: 2rem;
    justify-content: flex-end;
  }
  
  .profilePic {
    border-radius: 20px;
  }
  