.myfooter {
    display: flex;
    width: 100%;
    padding-inline: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    gap: 4rem;
}

.about {
    width: 35%;
}

.line {
    width: 1px;
    height: 150px;
    background: #d9d9d9;
}

.contact,
.info {
    width: 15%;
}

.column h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
}

.column h5 {
    font-size: 1rem;
}

.column p {
    font-size: 0.9rem;
}

.contact h5 {
    margin-bottom: 0;
}

.contact div,
.column p,
.info div,
.copyright {
    color: #d9d9d9;
}

.about h2 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.follow {
    width: 25%;
    text-align: right;
}

.logos {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.copyright {
    font-size: 0.8rem;
}